* {
   margin:0;
   padding: 0;
   border: 0;
}
body, html {
    width:100%;
    height:100%;
    font-family: "Source Sans Pro",'Play', sans-serif;

}
p {
  color:#0a3e54;
}

.front{
    height:100%;
}
.header-background {
  position: fixed; 
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: brightness(0.5);
}

#background-image{
    min-height:100%;
    background-image:url("../img/madhacks-mini.jpg");
    position:relative;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.whole_nav{
    padding:50px 80px;
}
.whole_nav {
    z-index: 1;
}
.logo-text{
    float:left;
}
.logo {
  padding-left:10px;
  font-size: 200%;
  color:white;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}
.logo:hover{
    text-decoration: underline;
    color:white;
}
.logo:before {
  position: relative;
  top: 13px;
  left: -10px;
  background-image: url('../img/mh.png');
  background-size: 60px 52px;
  display: inline-block;
  width: 60px;
  height: 52px;
  content:"";
}

.whole_nav .right-nav{
  float: right;
  margin-top: 33px;
  text-transform: uppercase;
  font-weight:600;
}

#menu{
    display:hidden;
    width:50px;
    height:50px;
    background:url("../img/nav.png") center;
    background-size: contain;
}
a:hover#menu{
    border-radius:4px 4px 0 0;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display:inline-block;
    float:left;
    padding: 10px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-size:130%;
}

nav ul li a:hover{
    text-decoration: underline;
    color: white;
}

/* Email list */
#mc_embed_signup{
  width:100%;
  margin-top: 10%;
  z-index:1; 
}
#mc_embed_signup .mc-field-group{
  padding-top:40px;
}
#mc_embed_signup input#mce-EMAIL {
  border: 1px solid #e8e8e8;
  border-radius: 18px;
  padding-left: 20px;
  margin-right: -40px;
  padding-top: 4px;
  padding-bottom: 8px;    
  background-color: transparent;
  color:white;
  font-size: 100%;
   width: 40%;
}
#mc_embed_signup input#mce-EMAIL::after {
  width: 50px;
  border-radius: 18px;
  background-color: red;
}
#mc_embed_signup input:focus {
  outline: none;
}

form{
  background:none;
  text-align:center;
  padding: 30px;
  color:white;
  margin: 0 auto;
}

h1#join {
  font-size: 250%;
  font-weight: 800;
  letter-spacing: 1px;
}
#mc-embedded-subscribe{
  background-color: #da2e2e;
  color: #fff!important;
  text-decoration: none;
  font-size: 100%;
  padding: 6px 22px 6px 22px;
  border-radius: 18px;
  border:1px solid #e8e8e8;
}

.main-content {
  background-color: white;
  width: 100%;
  position: relative;
  overflow: hidden;
}



/* Sponsorship */
.sponsor{
  background-color: white;
  padding:3%;
  margin: 5% 0 5% 0;
}
.stext{
    float:left;
    width:50%;
    display:inline!important;
}

.sponsor h2{
  color:#0a3e54;
  font-size: 250%;
  text-align: center;
  border: 20px;
  margin-top: 5%;
  font-weight: 800
}

.sponsor p{
  font-size: 120%;
  line-height: 1.8em;
  text-indent: 30px;
}
.sponsor .stext .sponsor-contents{
  line-height: 30px;
  padding: 30px;
}
.sponsor .sponsor-button{
    text-align:center;
    clear:both
}
.sponsor .sponsor-contents .btn{
  font-weight: 800;
  font-size: 120%;
  font-family: "Source Sans Pro",'Play', sans-serif;
  border: none;
  padding: 10px;
  text-align:center;
  display: inline;
}
.sponsor .sponsor-contents .btn-primary {
  background-color: #f3a022;
  color:white;
 margin-right: 20px;
}

.sponsor .sponsor-contents .btn-link{
  color:#1e87f0;
    margin-left: 20px;
    display:inline;
}
.sponsor.sponsor-contents .btn-link:hover{
  color:#0f6ecd;
}

#mobile-contact{
    display:hidden;
}

.sponsor .sponsor-contents i{
  color: black;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.sponsor  a:hover{
  text-decoration: none;
}


.sponsor .image-col{
  position:relative;
  padding: 30px;
  text-align:center;
  float:left;
   width:50%;
    
}
.sponsor .background-image{
  width:100%;
  text-align: center;
  position:relative;
  filter:grayscale(0.6);
  display:block;
  border:1px solid #f3f3f3;
    border-radius:4px;
    padding:5px;
    border-style:groove;
    border-width:2px;
    margin:0 auto;
}


.sponsor  .image-col .overlay{
  position:absolute;
  top: 35%;
  text-align: center;
  width: 100%;
}

.sponsor .overlay i{
  color:white;
  font-size: 5vw;
  display: inline-table;
  vertical-align:middle;

}
.sponsor .overlay i:hover{
  transform: scale(1.1);
}
.sponsor h3{
  display: inline-table;
  vertical-align:middle;
  color: white;
  font-size: 200%;
  font-weight: 900;
  text-align:center;
  letter-spacing: 1px;
}



/* Team  */
svg{
  height: 120px;
  width:100%;
}

.teampage{
  background-color: #f2f2f2;
  margin-top: -7px;
  padding:70px 60px;

}


.teampage h2{
  color:#0a3e54;
  font-size: 250%;
  text-align: center;
  border: 20px;
  /* margin-top: 20px; */
  font-weight: 800;
  text-transform: uppercase;
}

.teampage .team-page p{
  padding: 10px 10px;
  color: #0a3e54;
  font-size: 100%;
  text-indent: 40px;
  text-align: justify;
}


.team.col-lg-3 {
  padding-right: 8px;
  padding-left: 8px;
}


.team .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.team .content h3 {
  text-align: center;
  position: relative;
  top: 0px;
  right:0; left: 0;
  color: white;
  z-index: 1;
  font-weight: 700;
  font-size:200%;
}
.team .content p {
  margin: 0;
  position: relative;
  height: 82px;
  top: 10px;
  z-index: 1;
  font-size: 100%;
  font-weight: 600;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

.team .background {
  height: 0;
  width: 100%;
  padding-top: 131.6%;

}
.team.engineering .background {
  background: url(../img/engineering.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.team.sponsorship .background {
  background: url(../img/sponsorship.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.team.logistics .background {
  background: url(../img/logistics.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.team.marketing .background {
  background: url(../img/social-media.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.team:hover .background {
  background-repeat: no-repeat !important;
  background-size: contain !important;
  filter: brightness(1);
  position: relative;
  top: 5px;
  transition: 0.1s all;
}
.team:hover .background {
  background: linear-gradient(to right, rgba(10,62,84,.8), rgba(10,62,84,.8) 65%), url('../img/engineering.jpg');
}
.team.sponsorship:hover .background {
   background: linear-gradient(to right, rgba(249,105,14,.8), rgba(249,105,14,.8) 65%), url('../img/sponsorship.jpg');
}
.team.logistics:hover .background {
  background: linear-gradient(to right, rgba(243,160,34,.8), rgba(243,160,34,.8) 65%), url('../img/logistics.jpg');
}
.team.marketing:hover .background {
  background: linear-gradient(to right, rgba(28,131,131,.8), rgba(28,131,131,.8) 65%), url('../img/social-media.jpg');
  /* 1C8383 */
}

.team a:hover{
  text-decoration: none;
}
.teampage .apply{
  width:100%;
  margin-top: 45px;
  padding-bottom: 40px;
  text-align: center;
}

.teampage .btn-primary{
  width: 180px;
  height: 45px;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
.teampage .apply a{
  background-color: #f3a022;
  color: white;
  font-weight: 800;
  border: none;
  font-size: 18px;
}
.teampage .apply a:hover {
  outline: none;
  background: #f3a022;
  text-decoration: none;
}

.poly{
  background-color:#f2f2f2;
}


/* faq */

.faq{
  background-color: white;
  margin-top:-7px;
  padding: 80px;
  width:100%;
}

.faq h2{
  color:#0a3e54;
  font-size: 250%;
  text-align: center;
  border: 20px;
  margin-top: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

.faq h3{
  color:#0a3e54;
  font-size: 200%;
  text-align: center;
  border: 20px;
  margin-top: 10px;
}

.faq .row ol{
  text-align: left;
  color: black;
  font-size: 120%;
  padding: 30px;
  line-height: 30px;
}


/* Footer */

.footer {
   /* margin-top: 30px; */
   padding:30px;
   position: relative;
   height:13%;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #0a3e54;
   text-align: center;

}
.footer a{
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  color:white;
  font-size:130%;
  padding:20px;
}

.footer a:after{
  content:"at team@madhacks.org";
  font-weight:200;
}

.footer a:hover{
  text-decoration: none;
}

/* Big Desktop Screen*/
@media (min-width:1200px){
    #mc_embed_signup input#mce-EMAIL{
      width: 20%;
    }
    .sponsor h2{
        font-size:300%;
    }
    .sponsor p{
        font-size:1.4vw
    }
    .sponsor .sponsor-contents .btn{
        font-size:1.4vw;
    }
    
    .whole_nav{
        padding:50px 180px;
    }
      .team .content h3 {
      font-size:250%;
    }
    .team .content p {
      font-size: 120%;
    }
    .sponsor{
        padding:3% 10%;
    }
    .teampage{
        padding:3% 10%;
    }
    .faq{
        padding:3% 10%;
    }
    

}

@media (max-width: 991px) {
   #mc_embed_signup_scroll{
        padding-top:20%;
    }
  .team .background {
    padding-top: 0;
    background-size: cover !important;
    height: 250px !important;
  }
  .team:hover .background {
    background-size: cover !important;
  }
  
}
/* Ipad */
@media (max-width: 840px) {
    .logo {
      font-size: 150%;
    }
    .whole_nav{
         padding:50px 20px;
    }
    #menu{
        display:inline-block;
    }
    nav ul, nav:active ul{
        display:none;
        z-index:1000;
        position:absolute;
        padding:20px 10px;
        background-color: black;
        right:10px;
        top: 60px;
        border: 1px solid #fff;
        border-radius: 2px 0 2px 2px;
        width:50%;
    }
    nav:hover ul{
        display:block;
    }
    nav li{
        text-align:center;
        width:100%;
        padding:10px 0;
    }
    h1#join{
        font-size: 150%;
        font-weight: 800;
    }
    #mc_embed_signup{
        margin-top:40%;
    }
    #mc_embed_signup input#mce-EMAIL{
      width: 90%;
      font-size: 80%;
        margin:0 auto;
    }
    #mc_embed_signup input#mc-embedded-subscribe{      
        font-size: 90%;
        margin-top:10%;
    }
    #mc_embed_signup .mc-field-group{
        padding-top:10%;
    }
   
    
    .sponsor .image-col{
        display:none;
    }
    .sponsor .stext{
        width:100%;
    }
    .footer a{
        font-size:100%;
    }
}
/* phone */
@media (max-width: 414px) {
    .sponsor .sponsor-contents .btn-primary {
        margin-right:0;
    }
    .sponsor .sponsor-contents .btn-link{
         margin-top: 10px;
        margin-left:0;
        display:block!important;
        text-align:center;
    }
    svg{
      height: 80px;
      width:100%;
    }
    .footer a:after{
        content:"";
    }
     .sponsor{
        padding:3% 6%;
    }
    .teampage{
        padding:3% 6%;
    }
    .faq{
        padding:3% 6%;
    }
}