body, html {
    height: 100%;
    width:100%;
}
p {
  color:#0a3e54;
}
.mad {
    -webkit-filter: opacity(70%); /* Safari */
    filter: opacity(70%);
}
.parallax-effect {
    background-image: url('../img/madhacks-mini.jpg');
    height: 70%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
}
.parallax-effect .row{
    padding-top: 40px;
}
.parallax-effect .home{
    font-size: 30px;
    color:white;
    text-decoration: none;
    font-weight: 700;
}

.parallax-effect .others{
    font-size: 20px;
    color:white;
    text-decoration: none;
}

.parallax-effect a:hover{
    text-decoration: none;
    border-bottom: 3px solid white;
}

.parallax-effect .row .text-center{
    text-align: center;
    color:white;
    font-size: 40px;
    padding: 50px;

}

.container .row form{
  background:none;
  text-align:center;
  padding: 30px;
  color:white;
  font-size: 20px;
  margin: 0 auto;
}
.container .row .emaillist{
  width:100%;
}

.centeralign{
    text-align: center;
}

.topspace {
    margin-top: 60px;
}

iframe{
    text-align:center;
}
.container h2{
  color:#f3a022;
  font-size: 40px;
  text-align: left;
  border: 20px;
}
.row .mail-list{
  border:none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color:white;
  font-size: 20px;
  width: 400px;
}
.row .frequent{
  font-size: 20px;
  margin-top:20px;
}

.team {
  padding: 5px;
  position: relative;
}
.team.col-lg-3 {
  padding-right: 8px;
  padding-left: 8px;
}
.team .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.team h3 {
  text-align: center;
  position: relative;
  top: 0px;
  right:0; left: 0;
  color: white;
  z-index: 1;
}
.team p {
  margin: 0;
  position: relative;
  height: 82px;
  top: 10px;
  z-index: 1;
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding-left: 25px; padding-right: 25px; 
}

.team .background {
  height: 0;
  width: 100%;
  padding-top: 131.6%;  /* (img-height / img-width * container-width) */
                        /* (700 / 690 * 100) */
  
}
.team.engineering .background {
  background: url(../img/engineering.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.team.sponsorship .background {
  background: url(../img/sponsorship.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.team.logistics .background {
  background: url(../img/logistics.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.team.marketing .background {
  background: url(../img/social-media.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.team:hover .background {
  background-repeat: no-repeat !important;
  background-size: contain !important;
  filter: brightness(1);
  position: relative;
  top: 5px;
  transition: 0.1s all;
}
.team:hover .background {
  background: linear-gradient(to right, rgba(10,62,84,.8), rgba(10,62,84,.8) 65%), url('../img/engineering.jpg');
}
.team.sponsorship:hover .background {
   background: linear-gradient(to right, rgba(249,105,14,.8), rgba(249,105,14,.8) 65%), url('../img/sponsorship.jpg');
}
.team.logistics:hover .background {
  background: linear-gradient(to right, rgba(243,160,34,.8), rgba(243,160,34,.8) 65%), url('../img/logistics.jpg');
}
.team.marketing:hover .background {
  background: linear-gradient(to right, rgba(28,131,131,.8), rgba(28,131,131,.8) 65%), url('../img/social-media.jpg');
  /* 1C8383 */  
}

.row .btn{
  margin-top:40px;
  background-color: #0a3e54;
  border-color: #0a3e54
}
.row .btn:hover{
  background-color: #Da2e2e;
  border-color:#da2e2e
}
.row i{
  margin-top:20px;
  color:white;
}
.row i:hover{
  text-decoration:none;
  opacity:0.7;
}

.row .diff-teams{
  padding:20px;
  margin:20px;
  height:370px;
}

.footer {
  margin-top: 30px;
   padding:30px;
   position: relative;
   height:80px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #0a3e54;
   color: white;
   text-align: center;
}
.footer p{
  color:white;
}

@media (max-width: 991px) {
  .team .background {
    padding-top: 0;
    background-size: cover !important;
    height: 250px !important;
  }
  .team:hover .background {
    background-size: cover !important;
  }
}