body, html {
    height: 100%;
    width:100%;
    font-family: "Source Sans Pro",'Play', sans-serif;

}
p {
  color:#0a3e54;
}
.mad {
    -webkit-filter: opacity(100%); /* Safari */
    filter: opacity(100%);
}
h1#big {
  font-size: 44px;
  font-weight: 800;
  letter-spacing: 1px;
}

.home {
  padding-left: 10px;
  font-size: 30px;
  color:white;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

.home:before {
  position: relative;
  top: 13px;
  left: -10px;
  background-image: url('../img/mh.png');
  background-size: 60px 52px;
  display: inline-block;
  width: 60px;
  height: 52px;
  content:"";
}

.parallax-effect {
    height: 90%;
    z-index: 1;

}
.header-background {
  position: fixed; top: 0;
  height: 90%;
  width: 100%;
  z-index: -1;
  filter: brightness(0.5);
}
.header-background img {
  height: 100%;
}

.main-content {
  background-color: white;
  width: 100%;
}

.parallax-effect .row{
    padding-top: 40px;
}

.parallax-effect .right-nav{
  text-align: right;
  margin-top: 33px;
}

.parallax-effect .others{
    font-size: 20px;
    color:white;
    text-decoration: none;
}

.parallax-effect a:hover{
    text-decoration: none;
    color: white;
}
#mc_embed_signup input#mce-EMAIL {
  border: 1px solid #e8e8e8;
  border-radius: 18px;
  padding-left: 20px;
  margin-right: -40px;
  padding-top: 4px;
  padding-bottom: 8px;
}
#mc_embed_signup input#mce-EMAIL::after {
  width: 50px;
  border-radius: 18px;
  background-color: red;
}
#mc_embed_signup input:focus {
  outline: none;
}
.mc-field-group {
  padding-top: 30px;
}
.parallax-effect .row .text-center{
    text-align:center;
    color:white;
    font-size: 40px;
    padding: 50px;

}
.container .row form{
  background:none;
  text-align:center;
  padding: 30px;
  color:white;
  font-size: 20px;
  margin: 0 auto;
}

.container .row .emaillist{
  width:100%;
  margin-top: 80px;
}
#mc-embedded-subscribe{
  background-color: #da2e2e;
  color: #fff!important;
  text-decoration: none;
  font-size: 20px;
  padding: 6px 22px 6px 22px;
  border-radius: 18px;
  border:1.5px solid #e8e8e8;
}

.row .mail-list{
  border:none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color:white;
  font-size: 20px;
  width: 400px;
}

/* Sponsorship */
.sponsor{
  background-color: white;
  padding-top: 60px;
  /* margin-top: 40px; */
  /* width:100%;
  margin: 10px; */
}

.sponsor h2{
  color:#0a3e54;
  font-size: 3em;
  text-align: center;
  border: 20px;
  margin-top: 50px;
  font-weight: 800
}

.sponsor .row .col p{
  font-size: 1em;
  line-height: 1.8em;
  text-indent: 30px;
}
.sponsor .row .sponsor-contents{
  padding-top:20px;
  padding-left: 60px;
  padding-right:60px;
  margin-top: 10px;
  line-height: 30px;
}

.sponsor .row .sponsor-contents i{
  color: black;
  font-size: 20px;
  text-align: center;
  width: 100%;
  /* display: inline; */
}
.sponsor .row .sponsor-contents .icon-text{
  display: inline;
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: "Source Sans Pro",'Play', sans-serif;
  text-decoration: none;
  flex:left;
}

.sponsor .row .sponsor-contents a:hover{
  text-decoration: none;
}


.sponsor .row .text-center{
  padding-left: 40px;
  padding-right: 40px;
}
.sponsor .row .sponsor-contents .btn{
  font-weight: 800;
  font-size: 22px;
  font-family: "Source Sans Pro",'Play', sans-serif;
  border: none;
  margin:0 auto;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align:center;
}
.sponsor .row .sponsor-contents .btn-primary {
  background-color: #f3a022;
  color:white;
  margin-bottom: 20px;
}

.sponsor .image-col{
  position:relative!important;
}
.sponsor .background-image{
  width:100%;
  text-align: center;
  padding-right: 30px;
  position:relative;
  filter:grayscale(0.9);
  display:block;
}

.sponsor .row .image-col .overlay{
  position:absolute;
  top: 35%;
  text-align: center;
  width: 100%;
}

.sponsor .overlay i{
  color:white;
  font-size: 88px;
  display: inline-table;
  vertical-align:middle;

}
.sponsor .overlay i:hover{
  transform: scale(1.1);
}
.sponsor h3{
  display: inline-table;
  vertical-align:middle;
  color: white;
  font-size: 35px;
  font-weight: 900;
  text-align:center;
  /* width:100%; */
  letter-spacing: 1px;
}



/* Team  */
.teampage{
  background-color: white;
  padding-top: 30px;
  padding: 20px;
  margin-top: 150px;
}


.teampage h2{
  color:#0a3e54;
  font-size: 40px;
  text-align: center;
  border: 20px;
  margin-top: 20px;
  font-weight: 800;
}

.teampage .row p{
  padding: 20px 80px;
  color: #0a3e54;
}


.team.col-lg-3 {
  padding-right: 8px;
  padding-left: 8px;
}


.team .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.team .content h3 {
  text-align: center;
  position: relative;
  top: 0px;
  right:0; left: 0;
  color: white;
  z-index: 1;
}
.team .content p {
  margin: 0;
  position: relative;
  height: 82px;
  top: 10px;
  z-index: 1;
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding-left: 25px; padding-right: 25px;
}

.team .background {
  height: 0;
  width: 100%;
  padding-top: 131.6%;

}
.team.engineering .background {
  background: url(../img/engineering.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.team.sponsorship .background {
  background: url(../img/sponsorship.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.team.logistics .background {
  background: url(../img/logistics.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.team.marketing .background {
  background: url(../img/social-media.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.team:hover .background {
  background-repeat: no-repeat !important;
  background-size: contain !important;
  filter: brightness(1);
  position: relative;
  top: 5px;
  transition: 0.1s all;
}
.team:hover .background {
  background: linear-gradient(to right, rgba(10,62,84,.8), rgba(10,62,84,.8) 65%), url('../img/engineering.jpg');
}
.team.sponsorship:hover .background {
   background: linear-gradient(to right, rgba(249,105,14,.8), rgba(249,105,14,.8) 65%), url('../img/sponsorship.jpg');
}
.team.logistics:hover .background {
  background: linear-gradient(to right, rgba(243,160,34,.8), rgba(243,160,34,.8) 65%), url('../img/logistics.jpg');
}
.team.marketing:hover .background {
  background: linear-gradient(to right, rgba(28,131,131,.8), rgba(28,131,131,.8) 65%), url('../img/social-media.jpg');
  /* 1C8383 */
}

.team a:hover{
  text-decoration: none;
}
.teampage .apply{
  width:100%;
  margin-top: 30px;
  text-align: center;
}

.teampage .btn-primary{
  width: 180px;
  height: 45px;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
.teampage .apply a{
  background-color: #f3a022;
  color: white;
  font-weight: 800;
  border: none;
  font-size: 18px;
}
.teampage .apply a:hover {
  outline: none;
  background: #f3a022;
  text-decoration: none;
}




/* faq */

.faq{
  background-color: white;
  margin-top:70px;
  /* padding-top: 30px; */
  padding: 20px;
}

.faq h2{
  color:#0a3e54;
  font-size: 40px;
  text-align: center;
  border: 20px;
  margin-top: 20px;
  font-weight: 800;
}

.faq h3{
  color:#0a3e54;
  font-size: 30px;
  text-align: center;
  border: 20px;
  margin-top: 10px;
}

.faq .row ol{
  text-align: left;
  color: black;
  font-size: 20px;
  padding: 30px;
  line-height: 40px;
}


/* Footer */

.footer {
   /* margin-top: 30px; */
   padding:30px;
   position: relative;
   height:80px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #0a3e54;
   color: white;
   text-align: center;
}
.footer p{
  color:white;
}

@media (max-width: 991px) {
  .team .background {
    padding-top: 0;
    background-size: cover !important;
    height: 250px !important;
  }
  .team:hover .background {
    background-size: cover !important;
  }
}
